[Unit]
Description=ShinyProxy
After=syslog.target network.target
 
[Service]
Type=simple
ExecStart=/usr/bin/java -jar /opt/shinyproxy/shinyproxy.jar
KillMode=process
StandardOutput=journal
StandardError=journal
SuccessExitStatus=143

DynamicUser=true
User=shinyproxy_run
Group=shinyproxy_run
WorkingDirectory=/opt/shinyproxy
PrivateDevices=true
ProtectClock=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
RestrictAddressFamilies=AF_UNIX AF_INET
RestrictRealtime=true
ProtectHome=true
LockPersonality=true

# these are implied by DynamicUser, but are here for visibility
ProtectSystem=strict
PrivateTmp=true
RestrictIPC=true
RestrictSUIDSGID=true
NoNewPrivileges=true


[Install]
WantedBy=multi-user.target
